@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");
.bg-navbar {
  background-color: #331e36;
}
.menu {
  color: black;
}
.worksans {
  font-family: "Work Sans", sans-serif;
}
.josefin {
  font-family: "Josefin Sans", sans-serif;
}
